In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("spam.csv")
df.head(6)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...

In [4]:
#step 1
#group the messages by categories

df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [5]:
#new_df['Sex'] = new_df['Sex'].replace({"male": 1, "female": 2})
df["Spam"]=df["Category"].replace({"spam":1,"ham":0})
#since we know that ham exists if not for spam, the above method is suitable for converting
#but in different cases,  use this method
#df["Spam"]=df["Category"].apply(lambda x:1 if x=="spam" else 0)
#df.head()

In [6]:
df

     Category                                            Message  Spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [7]:
df["Spam"]=df["Category"].apply(lambda x:1 if x=="spam" else 0)
df.head()

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [10]:
X=df.Message
y=df.Spam

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [22]:
#using pipleline method, we deploy CountVectorizer and MultinomialNB 
#to convert the string input into numerical values and implement
#Multinomial Naive Bayes Algorithm respectively.

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
model = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [23]:
model.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [24]:
model.score(X_train,y_train)

0.9930605407992342

In [26]:
model.predict(X_train)

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [55]:
df.head(11)

   Category                                            Message  Spam
0       ham  Go until jurong point, crazy.. Available only ...     0
1       ham                      Ok lar... Joking wif u oni...     0
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3       ham  U dun say so early hor... U c already then say...     0
4       ham  Nah I don't think he goes to usf, he lives aro...     0
5      spam  FreeMsg Hey there darling it's been 3 week's n...     1
6       ham  Even my brother is not like to speak with me. ...     0
7       ham  As per your request 'Melle Melle (Oru Minnamin...     0
8      spam  WINNER!! As a valued network customer you have...     1
9      spam  Had your mobile 11 months or more? U R entitle...     1
10      ham  I'm gonna be home soon and i don't want to tal...     0

In [52]:
#example-
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

In [53]:
model.predict(emails)

array([0, 1], dtype=int64)